<%= form_tag '', method: 'get' do %>
  <div class="row">
  <table>
  <thead>
    <tr>
      <th>Select</th>
      <th>Flight #</th>
      <th>Departure Date</th>
      <th>Arrival Date</th>
      <th>From</th>
      <th>To</th>
      <th>Time</th>
    </tr>
  </thead>

    <% @flights.each do |flight| %>
      <tbody>
        <tr>
          <td><%= radio_button_tag :flight_id, flight.id, class: "ruth-radio"  %></td>
          <td><%= flight.id %></td>
          <td><%= flight.departure_date.strftime("%B %d, %Y")  %></td>
          <td><%= flight.arrival_date.strftime("%B %d, %Y") %></td>
          <td><%= flight.departure.name %></td>
          <td><%= flight.arrival.name %></td>
          <td><%= flight.flight_time %></td>
        </tr>      
      </tbody>
    <% end %>
    </table>
    <%= submit_tag "Select Flight", :name => nil, class: "button" %>
    <%= hidden_field_tag :passengers, params[:passengers] %>

  </div>
<% end %>