<% provide(:title, 'Booking') %>
<h3>Flight Details</h3>
<%= form_tag '/new_bookings', method: 'get' do %>
  <div class="row">
  <table>
  <thead>
    <tr>
      <th>Flight #</th>
      <th>Departure Date</th>
      <th>Arrival Date</th>
      <th>From</th>
      <th>To</th>
      <th>Time</th>
    </tr>
  </thead>

    <% @flights.each do |flight| %>
      <tbody>
        <tr>
          <td><%= flight.id %></td>
          <td><%= flight.departure_date.strftime("%B %d, %Y")  %></td>
          <td><%= flight.arrival_date.strftime("%B %d, %Y") %></td>
          <td><%= flight.departure.name %></td>
          <td><%= flight.arrival.name %></td>
          <td><%= flight.flight_time %></td>
        </tr>      
      </tbody>
    <% end %>
    </table>
    <%= submit_tag "Book Flight", :name => nil, class: "btn-large blue"%>
  </div>
<% end %>