<% provide(:title, 'Booking') %>
  <%= form_tag '/new_bookings', method: 'get' do %>
    <div class="container">
      <h3>Flight Details</h3>
        <table>
          <% @flights.each do |flight| %>
            <tr>
              <th>Flight No</th>
              <td><%= flight.id %></td>
            </tr>
            <tr>
              <th>Departure Date</th>
              <td><%= flight.departure_date.strftime("%B %d, %Y")  %></td>
            </tr>
            <tr>
            <th>Arrival Date</th>
              <td><%= flight.arrival_date.strftime("%B %d, %Y") %></td>
            </tr>
            <tr>
              <th>From</th>
              <td><%= flight.departure.name %></td>
            </tr>
            <tr>
              <th>To</th>
              <td><%= flight.arrival.name %></td>
            </tr>
            <tr>
              <th>Time</th>
              <td><%= flight.flight_time %></td>
            </tr>
            <tr>
              <th>No of Passengers</th>
              <td><%= params[:passengers]%></td>
            </tr>      
            </tbody>
          <% end %>
        </table>
        <%= submit_tag "Book Flight", :name => nil, class: "btn-large blue"%>
    </div>
  <% end %>